{{#if dir}}
  <header>
    <h3>Directions</h3>
  </header>
  <ul>
  {{#if dirIsArr}}
    {{#each dir}}
      <li><a href="#" class="direction" data-dir="{{this}}" data-rt="{{../rt}}" >{{this}}</a></li>
    {{/each}}
  {{else}}
    <li><a href="#" class="direction" data-dir="{{dir}}" data-rt="{{../rt}}" >{{dir}}</a></li>
  {{/if}}
  </ul>
{{/if}}
