{{#if error}}
  <header>
    <h3>{{error.msg}}</h3>
  </header>
{{else}}
  {{#if prdIsArr}}
    <header>
      <h3>#{{prd.0.rt}} {{prd.0.rtdir}} {{prd.0.stpnm}}</h3>
    </header>
  {{else}}
    <header>
      <h3>#{{prd.rt}} {{prd.rtdir}} {{prd.stpnm}}</h3>
    </header>
  {{/if}}
{{/if}}
{{#if prd}}
  <ul class="predictions">
  {{#if prdIsArr}}
    {{#each prd}}
      <li class=""><div><span class="sm">{{rtdir}} #{{rt}} to {{des}}</span><!--, bus id {{vid}} {{dstp}} feet away, arrives in --><span class="pull-right lg">{{prdtm}} min</span> {{#if dly}}Delayed{{/if}}</div></li>
    {{/each}}
  {{else}}
      <li class=""><div><span class="sm">{{prd.rtdir}} #{{rt}} to {{prd.des}}</span><!--, bus id {{prd.vid}} {{prd.dstp}} feet away, arrives in --><span class="pull-right lg">{{prd.prdtm}} min</span> {{#if prd.dly}}Delayed{{/if}}</div></li>
  {{/if}}
  </ul>
{{/if}}
<!--<button class="btn btn-success">Bookmark this stop</button>-->
 
